@media (max-width: 1439px){
    .sidepanel{
        display: none;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .promo{
        &__title{
            font-size: 35px;
            line-height: 45px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills{
            column-gap: 10px;
            grid-template: repeat(2,minmax(115px,auto)) / repeat(2,1fr);
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 13px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2,350px);
            column-gap: 100px;
        }
    }
    .skills{
        &__items{
            grid-template: repeat(1, 270px auto) / repeat(3 ,270px);
            justify-content: center;
        }    
        &__ratings{
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,350px);
            justify-content: center;
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
             .horizontal , .vertical{
                grid-row: unset;
                grid-column: unset;
             }
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: 500px 400px;
            grid-gap: 20px;
        }
        &__form{
            grid-template: 30px 110px 30px /repeat(2,180px);
        }
        &__btn{
            font-size: 11px;
        }
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    .divider{
        margin: 15px auto 0 auto;
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
        }
        &__skills{
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item{
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2,280px);
            column-gap: 100px;
            padding: 30px 35px 0 35px;
        }
    }
    .skills{
        &__items{
            grid-template: repeat(1, 230px auto) / repeat(3 ,230px);
            justify-content: center;
        }    
        &__item{
            padding: 10px 10px 10px 10px;
            p{
                margin-top: 0px;
                font-size: 13px;
            }
        }
        &__ratings{
            margin-top: 60px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,350px);
            justify-content: center;
        }
    }
    .price-list{
        &__cost{
            grid-template-columns: repeat(auto-fit, 350px );
            padding: 0;
        }
    }
    .contacts{
        padding-top: 40px;
        &__wrapper{
            grid-template: 265px 300px/ 350px 360px;
        }
        &__photo{
            grid-row: 1 / 4;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 350px;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 320px;
            margin: 0 auto;
            line-height: 18px;
            
        }
    }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{
            font-size: 24px;
        }
    }
    .promo{
        &__title{
            line-height: 39px;
            width: 300px;
            
        }
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template:400px auto auto / 1fr;
        }
        &__photo{
            grid-row: unset;
        }
        &__skills{
            grid-template-columns: repeat(2, 260px);
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume{
        padding-top: 60px;
        &__wrapper{
            grid-template-columns: 1fr;
            column-gap: 10px;
        }
    }
    .skills{
        &__items{
            grid-template: repeat(1, 230px auto) / repeat(2 ,230px);
            justify-content: center;
        }    
        &__item{
            padding: 10px 10px 10px 10px;
            p{
                margin-top: 0px;
                font-size: 13px;
            }
        }
        &__ratings{
            margin-top: 60px;
            grid-template: repeat(5,minmax(70px,auto))/repeat(1,350px);
            justify-content: center;
        }
    }
    .portfolio{
        padding-top: 40px;
    }
    .price-list{
        padding-top: 40px;
        &__cost{
            justify-content: center;
            margin-top: 20px;
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: 1fr;
        }
        &__photo{
            display: none;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
    }
   
}
@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    .title{
        &_fz48{
            font-size: 24px;
            
        }
        &_fz36{
            font-size: 24px;
            
        }
    }
    .hamburger{
        right: 20px;
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo{
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
        &__btns{
            margin-top: 30px;
        }
        &__title{
            line-height: 30px;
        }
    }
    .about{
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
        }
        &__skills{
            grid-template-columns: 1fr;
        }
    }
    .resume{
        padding-top: 60px;
        &__subtitle{
            font-size: 30px;
        }
        &__wrapper{
            grid-template-columns: 1fr;
            padding: 30px 8px;
        }
    }
    .skills{
        &__subtitle{
            margin-top: 20px;
            font-size: 24px;
            line-height: 36px;
        }
        &__items{
            grid-template: repeat(1, 270px auto) / repeat(1 ,270px);
            justify-content: center;
        }    
        &__item{
            padding: 30px 30px 25px 30px;
            p{
                margin-top: 15px;
                font-size: 12px;
            }
        }
        &__ratings{
            margin-top: 60px;
            grid-template: repeat(5,minmax(70px,auto))/ 1fr;
            justify-content: center;
            &-line{
                width: 300px;
            }
        }
    }
    .price-list{
        &__cost{
           grid-template-columns: repeat(auto-fit, 300px);
           grid-gap: 30px;
           &-servise{
            justify-self: center;
           }
           &-item{
            grid-template: minmax(21px,auto) 15px/repeat(2,minmax(140px,auto))
           }
        }

    }
    .contacts{
        &__wrapper{
            grid-template-columns: 1fr;
        }
        &__subtitle{
            font-size: 20px;
        }
        &__photo{
            display: none;
        }
        &__form {
            grid-template: 45px 45px 80px minmax(45px, auto) / 1fr;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px; 
        }
       
    }
}
